{
    "version": "2018-05-29",
    "method": "GET",
    ## E.G. if full path is https://api.xxxxxxxxx.com/posts then resourcePath would be /posts **
    "resourcePath": "/profiles/by-header",
    "params":{
        "query":$util.toJson($ctx.args.filter),
        "headers": {
            "X-API-KEY": "CHANGE_ME"
        }
    }
}